/* Global Styles */

* {
  font-family: 'font-family: Tahoma, Verdana, sans-serif';
  color: slateblue;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + * {
  padding: 0 16px;
}

/* Text */

h1:before,
h1:after {
  content: '';
  flex: 1 1;
  border-bottom: 2px solid #000;
  margin: auto;
}
h1 {
  font-size: 20px;
  font-weight: bolder;
  font-family: Georgia, serif;
}

h2 {
  font-size: 16px;
  font-weight: bolder;
}

h1,
h2 {
  font-weight: bolder;
}

p {
  font-size: 15px;
  font-weight: bolder;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: darkblue;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 24px;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px orangered;
}

label {
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button,
button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
}

.button:hover,
button:hover {
  opacity: 0.8;
  font-weight: bold;
}

.button:disabled,
button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: gold;
  color: red;
}

.fancy-button i.material-icons {
  color: black;
  padding-right: 4px;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: greenyellow;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: black;
  margin: 0;
}

/* Checkout Cart, Shipping Prices */

.cart-item,
.shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: burlywood;
}
body,
html {
  height: 100%;
}
/* Checkout Cart, Shipping Prices */

.cart-item,
.shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: black;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
